.container{
    padding: '2rem';
    background-color: var(--text);
    color: var(--bg);
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100px;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
}